<html>
  <head></head>
  <body>
      <p>
        <%= $message %>
        <form>
          <input type='text' name='cipher' />
          <input type='submit' value='Cipher!' />
        </form>
        <%= $ciphered %>
      </p>
  </body>
</html>
